@font-face {
  font-family: Figtree;
  src: url(../fonts/Figtree-VariableFont_wght.ttf);
  font-weight: 500;
  font-display: swap;
}

:root {
  font-family: Figtree, sans-serif;
  font-size: clamp(16px, 1vw, 14px);
  --text-bold: 800;

  --yellow: hsl(47, 88%, 63%);
  --gray-500: hsl(0, 0%, 42%);
  --gray-950: hsl(0, 0%, 7%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  min-height: 100vh;
  min-height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--yellow);
  color: var(--gray-950);
}

.blog-card {
  background-color: white;
  width: clamp(360px, 4vw, 327px);
  border: 1px solid var(--gray-950);
  padding: 24px;
  border-radius: 20px;
  box-shadow: 8px 8px var(--gray-950);

  display: flex;
  flex-direction: column;
  gap: 24px;
}

.blog-card > img {
  border-radius: 10px;
}

.profile {
  display: flex;
  gap: 12px;
  align-items: center;
}

.profile p {
  font-size: 0.875rem;
}

.profile p,
button,
.content h2 {
  font-weight: var(--text-bold);
}

button {
  font-family: inherit;
  background-color: var(--yellow);
  padding: 4px 12px;
  border: none;
  border-radius: 4px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.content h2:hover {
  color: var(--yellow);
}

.content p:nth-of-type(1) {
  font-size: 0.875rem;
}

.content p:nth-of-type(2) {
  color: var(--gray-500);
}
